<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>myweb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
  	<param-name>DBURL</param-name>
  	<param-value>jdbc:mysql://127.0.0.1:3306/mydb?useUnicode=true&amp;characterEncoding=utf8</param-value>
  </context-param>
  <context-param>
  	<param-name>copyright</param-name>
  	<param-value>UIBE 2016</param-value>
  </context-param>
  <servlet>
    <servlet-name>appserv</servlet-name>
  	<jsp-file>/app.jsp</jsp-file>
    <init-param>
        <param-name>author</param-name>
        <param-value>TongQiang</param-value>
    </init-param>
  </servlet>
</web-app>